USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_FindOverlappingProjects2]    Script Date: 10/29/2025 4:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_FindOverlappingProjects2]
AS
BEGIN
    SET NOCOUNT ON;

    WITH EmployeeCommitments AS (
        SELECT 
            E.EmployeeId,
            E.FirstName + ' ' + E.LastName AS EmployeeName,
            P.ProjectName,
            P.StartDate,
            ISNULL(P.EndDate, GETDATE()) AS EndDate
        FROM 
            [dbo].[EmployeeProject] EP
        INNER JOIN 
            [dbo].[Employee] E ON EP.EmployeeId = E.EmployeeId
        INNER JOIN 
            [dbo].[Project] P ON EP.ProjectId = P.ProjectId
        WHERE 
            E.IsActive = 1
    )
    
    SELECT
        C1.EmployeeName AS Employee1Name,
        C2.EmployeeName AS Employee2Name,
        C1.ProjectName AS Employee1Project,
        C2.ProjectName AS Employee2Project,
        C1.StartDate AS ConflictStart1,
        C1.EndDate AS ConflictEnd1,
        C2.StartDate AS ConflictStart2,
        C2.EndDate AS ConflictEnd2
    FROM 
        EmployeeCommitments C1
    INNER JOIN
        EmployeeCommitments C2 ON C1.EmployeeId < C2.EmployeeId -- Avoid self-join and duplicate pairs
    WHERE
        C1.StartDate <= C2.EndDate AND C2.StartDate <= C1.EndDate
    ORDER BY
        C1.EmployeeName, C2.EmployeeName;

END
GO
