USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateEmployee]    Script Date: 10/29/2025 4:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_UpdateEmployee]
    @EmployeeId INT,
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Email NVARCHAR(100),
    @HireDate DATE,
    @Salary MONEY,
    @IsActive BIT,
    @DepartmentId INT,
    @ManagerId INT = NULL,
    @HierarchyLevel INT = 1,
    @IsManager BIT
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE Employee
    SET
        FirstName = @FirstName,
        LastName = @LastName,
        Email = @Email,
        HireDate = @HireDate,
        Salary = @Salary,
        IsActive = @IsActive,
        DepartmentId = @DepartmentId,
        ManagerId = @ManagerId,
        HierarchyLevel = @HierarchyLevel,
        IsManager = @IsManager
    WHERE 
        EmployeeId = @EmployeeId;
        
    RETURN @@ROWCOUNT;
END
GO
