USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllProjects]    Script Date: 10/29/2025 4:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetAllProjects]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        ProjectId,
        ProjectName,
        StartDate,
        EndDate,
        HoursWorked,
        Status
    FROM 
        Project
    ORDER BY 
        Status, ProjectName;
END
GO
