USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetDirectReports]    Script Date: 10/29/2025 4:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetDirectReports]
    @ManagerId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT *
    FROM Employee
    WHERE ManagerId = @ManagerId
    ORDER BY LastName;
END
GO
