USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddEmployee]    Script Date: 10/29/2025 4:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_AddEmployee]
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Email NVARCHAR(100),
    @HireDate DATE,
    @Salary MONEY,
    @DepartmentId INT,
    @ManagerId INT = NULL,
    @HierarchyLevel INT = 1,
    @IsManager BIT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Employee WHERE Email = @Email)
    BEGIN
        SELECT -1 AS EmployeeId; 
        RETURN;
    END
    
    INSERT INTO Employee (FirstName, LastName, Email, HireDate, Salary, IsActive, DepartmentId, ManagerId, HierarchyLevel, IsManager)
    VALUES (@FirstName, @LastName, @Email, @HireDate, @Salary, 1, @DepartmentId, @ManagerId, @HierarchyLevel, @IsManager);
    
    SELECT SCOPE_IDENTITY() AS EmployeeId; 
END
GO
