USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllEmployees]    Script Date: 10/29/2025 4:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_GetAllEmployees] 
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
    e.EmployeeId,
    e.FirstName,
    e.LastName,
    e.Email,
    e.HireDate,
    e.Salary,
    e.IsActive,
    e.DepartmentId,
    e.ManagerId,
    e.HierarchyLevel,
    e.IsManager,

    d.Name as DepartmentName,

    m.FirstName as ManagerFirstName,
    m.LastName as ManagerLastName

    FROM Employee e
    LEFT JOIN Department d ON e.DepartmentId = d.DepartmentId
    LEFT JOIN Employee m ON e.ManagerId = m.EmployeeId
    
    ORDER BY e.LastName;
END
GO
