USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllManagers]    Script Date: 10/29/2025 4:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllManagers]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT *
    FROM 
        Employee
    WHERE
        IsManager = 1 AND IsActive = 1
    ORDER BY
        LastName;
END
GO
