USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetOrganizationHierarchy]    Script Date: 10/29/2025 4:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetOrganizationHierarchy]
AS
BEGIN
    SET NOCOUNT ON;

    WITH OrganizationCTE AS (
        SELECT
            E.EmployeeId,
            E.FirstName,
            E.LastName,
            E.ManagerId,
            1 AS HierarchyLevel,
            CAST(E.FirstName + ' ' + E.LastName AS NVARCHAR(MAX)) AS ManagerChain
        FROM
            Employee E
        WHERE
            E.ManagerId IS NULL

        UNION ALL

        SELECT
            R.EmployeeId,
            R.FirstName,
            R.LastName,
            R.ManagerId,
            O.HierarchyLevel + 1 AS HierarchyLevel,
            CAST(O.ManagerChain + ' -> ' + R.FirstName + ' ' + R.LastName AS NVARCHAR(MAX)) AS ManagerChain
        FROM
            Employee R
        INNER JOIN
            OrganizationCTE O ON R.ManagerId = O.EmployeeId
    )
    
    SELECT
        C.FirstName + ' ' + C.LastName AS EmployeeName,        
        C.HierarchyLevel,
        
        CASE 
            WHEN C.HierarchyLevel = 1 
            THEN 'Top of Organization'
            ELSE SUBSTRING(C.ManagerChain, 1, LEN(C.ManagerChain) - LEN(C.FirstName + ' ' + C.LastName) - 4)
        END AS FullManagerChain
        
    FROM 
        OrganizationCTE C
    ORDER BY 
        C.ManagerChain;

END
GO
