USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetEmployeesByProjectId]    Script Date: 10/29/2025 4:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetEmployeesByProjectId]
    @ProjectId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        E.EmployeeId,
        E.FirstName,
        E.LastName,
        E.Email,
        E.IsActive
    FROM 
        [dbo].[Employee] E
    INNER JOIN
        [dbo].[EmployeeProject] EP ON E.EmployeeId = EP.EmployeeId
    WHERE 
        EP.ProjectId = @ProjectId
    ORDER BY 
        E.LastName, E.FirstName;
END
GO
