USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetProjectsByEmployeeId]    Script Date: 10/29/2025 4:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetProjectsByEmployeeId]
    @EmployeeId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        P.ProjectId,
        P.ProjectName,
        P.StartDate,
        P.EndDate,
        P.Status
    FROM 
        [dbo].[Project] P
    INNER JOIN
        [dbo].[EmployeeProject] EP ON P.ProjectId = EP.ProjectId
    WHERE 
        EP.EmployeeId = @EmployeeId
    ORDER BY 
        P.StartDate DESC;
END
GO
