USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddDepartment]    Script Date: 10/29/2025 4:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_AddDepartment]
    @Name NVARCHAR(100),
    @Budget MONEY
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO Department (Name, Budget)
    VALUES (@Name, @Budget);
    
    -- Return the ID of the newly created department
    SELECT SCOPE_IDENTITY() AS DepartmentId; 
END
GO
