USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUnassignedEmployeesForProject]    Script Date: 10/29/2025 4:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetUnassignedEmployeesForProject]
    @ProjectId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        E.EmployeeId,
        E.FirstName,
        E.LastName
    FROM 
        [dbo].[Employee] E
    WHERE 
        E.IsActive = 1
        AND E.EmployeeId NOT IN (
            SELECT EmployeeId FROM EmployeeProject WHERE ProjectId = @ProjectId
        )
    ORDER BY 
        E.LastName;
END
GO
