USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllDepartments]    Script Date: 10/29/2025 4:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetAllDepartments]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT * FROM Department
    ORDER BY Name;
END
GO
