USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_AssignEmployeeToProject]    Script Date: 10/29/2025 4:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_AssignEmployeeToProject]
    @EmployeeId INT,
    @ProjectId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Check for existing assignment to prevent unique constraint violation
    IF NOT EXISTS (
        SELECT 1 
        FROM EmployeeProject 
        WHERE EmployeeId = @EmployeeId AND ProjectId = @ProjectId
    )
    BEGIN
        INSERT INTO EmployeeProject (EmployeeId, ProjectId)
        VALUES (@EmployeeId, @ProjectId);
        
        -- Return 1 for success
        SELECT 1 AS ResultCode;
    END
    ELSE
    BEGIN
        -- Return 0 if assignment already exists
        SELECT 0 AS ResultCode;
    END
END
GO
