USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAuditTrail]    Script Date: 10/29/2025 4:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetAuditTrail]
    @EmployeeId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        AuditId,
        EmployeeId,
        ChangeType,
        FieldName,
        OldValue,
        NewValue,
        ChangeDate,
        ChangedBy
    FROM 
        [dbo].[EmployeeAudit]
    WHERE 
        EmployeeId = @EmployeeId
    ORDER BY 
        ChangeDate DESC; -- Show newest changes first
END
GO
