USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllReports]    Script Date: 10/29/2025 4:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetAllReports] 
    @EmployeeId INT
AS
BEGIN
    SET NOCOUNT ON;

    WITH OrganizationCTE AS (
        SELECT
            E.EmployeeId,
            E.FirstName,
            E.LastName,
            E.Email,
            E.IsActive,
            E.ManagerId,
            1 AS HierarchyLevel,
            CAST(E.FirstName + ' ' + E.LastName AS NVARCHAR(MAX)) AS ManagerChain
        FROM
            Employee E
        WHERE
            E.EmployeeId = @EmployeeId

        UNION ALL

        SELECT
            R.EmployeeId,
            R.FirstName,
            R.LastName,
            R.Email,
            R.IsActive,
            R.ManagerId,
            O.HierarchyLevel + 1 AS HierarchyLevel,
            CAST(O.ManagerChain + ' -> ' + R.FirstName + ' ' + R.LastName AS NVARCHAR(MAX)) AS ManagerChain
        FROM
            Employee R
        INNER JOIN
            OrganizationCTE O ON R.ManagerId = O.EmployeeId
    )
    
    SELECT
        C.FirstName,
        C.LastName,        
        C.HierarchyLevel,
        C.Email,
        C.IsActive,
        
        CASE 
            WHEN C.HierarchyLevel = 1 
            THEN 'Top of Organization'
            ELSE SUBSTRING(C.ManagerChain, 1, LEN(C.ManagerChain) - LEN(C.FirstName + ' ' + C.LastName) - 4)
        END AS FullManagerChain
        
    FROM 
        OrganizationCTE C
    WHERE
        C.HierarchyLevel > 2
    ORDER BY 
        C.ManagerChain;

END
GO
