USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateProject]    Script Date: 10/29/2025 4:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_UpdateProject]
    @ProjectId INT,
    @ProjectName NVARCHAR(100),
    @StartDate DATE,
    @EndDate DATE = NULL,
    @HoursWorked DECIMAL(10, 2),
    @Status NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE Project
    SET
        ProjectName = @ProjectName,
        StartDate = @StartDate,
        EndDate = @EndDate,
        HoursWorked = @HoursWorked,
        Status = @Status
    WHERE 
        ProjectId = @ProjectId;
        
    RETURN @@ROWCOUNT;
END
GO
