USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateDepartment]    Script Date: 10/29/2025 4:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_UpdateDepartment]
    @DepartmentId INT,
    @Name NVARCHAR(100),
    @Budget DECIMAL
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE Department
    SET
        Name = @Name,
        Budget = @Budget
    WHERE 
        DepartmentId = @DepartmentId;

    RETURN @@ROWCOUNT;
END
GO
