USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddProject]    Script Date: 10/29/2025 4:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_AddProject]
    @ProjectName NVARCHAR(100),
    @StartDate DATE,
    @EndDate DATE = NULL,
    @HoursWorked DECIMAL(10, 2),
    @Status NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO Project (ProjectName, StartDate, EndDate, HoursWorked, Status)
    VALUES (@ProjectName, @StartDate, @EndDate, @HoursWorked, @Status);
    
    SELECT SCOPE_IDENTITY() AS ProjectId; 
END
GO
