USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_FindOverlappingProjects]    Script Date: 10/29/2025 4:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_FindOverlappingProjects]
AS
BEGIN
    SET NOCOUNT ON;

    WITH EmployeeCommitments AS (
        SELECT 
            E.EmployeeId,
            E.FirstName + ' ' + E.LastName AS EmployeeName,
            P.ProjectId,
            P.ProjectName,
            P.StartDate,
            ISNULL(P.EndDate, GETDATE()) AS EndDate
        FROM 
            [dbo].[EmployeeProject] EP
        INNER JOIN 
            [dbo].[Employee] E ON EP.EmployeeId = E.EmployeeId
        INNER JOIN 
            [dbo].[Project] P ON EP.ProjectId = P.ProjectId
        WHERE 
            E.IsActive = 1 AND P.Status <> 'Completed'
    )
    
    SELECT
        C1.EmployeeId,
        C1.EmployeeName,
        C1.ProjectName AS ProjectName1,
        C2.ProjectName AS ProjectName2,
        C1.ProjectId AS ProjectId1,
        C2.ProjectId AS ProjectId1,
        C1.StartDate AS StartDateProject1,
        C1.EndDate AS EndDateProject1,
        C2.StartDate AS StartDateProject2,
        C2.EndDate AS EndDateProject2
    FROM 
        EmployeeCommitments C1
    LEFT JOIN
        EmployeeCommitments C2 ON C1.EmployeeId = C2.EmployeeId
    WHERE
        C1.ProjectId < C2.ProjectId
        AND
        (
            (C1.StartDate <= C2.StartDate AND C2.StartDate <= C1.EndDate)
            OR
            (C1.StartDate <= C2.StartDate AND C2.StartDate <= C1.EndDate)
        )
    ORDER BY
        C1.EmployeeName, C2.EmployeeName;

END
GO
