USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_UnassignEmployeeFromProject]    Script Date: 10/29/2025 4:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_UnassignEmployeeFromProject]
    @EmployeeId INT,
    @ProjectId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DELETE FROM [dbo].[EmployeeProject]
    WHERE EmployeeId = @EmployeeId AND ProjectId = @ProjectId;
    
    RETURN @@ROWCOUNT; 
END
GO
