USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[SP_ActivateEmployee]    Script Date: 10/29/2025 4:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_ActivateEmployee]
    @EmployeeId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE Employee
    SET IsActive = 1
    WHERE EmployeeId = @EmployeeId;
    
    RETURN @@ROWCOUNT;
END
GO
