USE [EmployeeManagement]
GO
/****** Object:  Table [dbo].[EmployeeAudit]    Script Date: 10/29/2025 4:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeAudit](
	[AuditId] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[ChangeType] [nvarchar](10) NOT NULL,
	[FieldName] [nvarchar](100) NOT NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[ChangeDate] [datetime] NOT NULL,
	[ChangedBy] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeAudit] ADD  DEFAULT (getdate()) FOR [ChangeDate]
GO
ALTER TABLE [dbo].[EmployeeAudit] ADD  DEFAULT (suser_sname()) FOR [ChangedBy]
GO
ALTER TABLE [dbo].[EmployeeAudit]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeAudit_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[EmployeeAudit] CHECK CONSTRAINT [FK_EmployeeAudit_Employee]
GO
